@{
    ViewBag.Title = "About This Application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is the first application completed in MIS4800, intending to teach the class about MVC applications and how they differ from the previous applications we have learned about in Visual Studio. Throughout this website, I will demonstrate the capabilities of the MVC application in Visual Studio.</p>
