@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jessica R. Stauss<br />
    121 N Congress St.
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440.409.1370
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">jessicastauss@hotmail.com</a><br />
</address>