@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jessica Stauss</h1>
    <p class="lead">An undergrad student at Ohio University studying Management Information Systems and Business Analytics planning to graduate in 2020. This website was created by her in MIS4200.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Academics</h2>
        <p>
            Jessica enjoys her analytics and coding classes, and also has conversational Spanish-speaking skills. She has taken a variety of AIS classes and also works for the AIS Department at Ohio University, working with faculty as a Teachers Assistant as well as tutoring peers in her spare time. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work Experience</h2>
        <p>Jessica also works for the AIS Department at Ohio University, working with faculty as a Teachers Assistant as well as tutoring her peers in her spare time. Prior to starting the school year, Jessica worked at Loder's Shake Shoppe for approximately 5 years. In the future, Jessica hopes to find a job in the AIS career field combining her love for analytics and the challenge of coding.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hobbies</h2>
        <p>In her free time, Jessica likes to spend time outdoors with her dog Roxy. Also, she enjoys hanging out with her best friends Casey and Savannah, watching documentaries, reading novels, and spending time with family. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>